<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo Independiente - Electricidad Domiciliaria </h1> - <h3>(2017-2019)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quo accusamus officia facere, quibusdam optio natus nihil rerum itaque ratione aperiam quisquam eaque vel id vitae, ut nobis recusandae autem.</p>
        </ul>
        <ul>
            <li><h1>Editor de Imágenes y Videos</h1> - <h3>(2020-2021)</h3></li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni modi nisi, libero maxime quae perferendis illum, aut dolorum amet, quo cum officiis excepturi ex? Minima commodi aperiam praesentium voluptas. Ratione!</p>
        </ul>
        <ul>
            <li><h1>Trabajos Comunitarios</h1> - <h3>(2021-2022)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error inventore, consectetur ipsa quia, vitae cupiditate nisi quasi impedit obcaecati ipsam minima sed, similique at voluptates iusto incidunt in quam laboriosam!</p>
        </ul>
    </div>
</div>