<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Secundario Nº456 Orientación Ciencias Sociales</h1> - <h3>(2014)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, dolorem. Impedit voluptates maiores dolorum, labore nam tenetur nesciunt quis optio necessitatibus laudantium doloribus nostrum? Libero asperiores odio tenetur modi doloremque?</p>
        </ul>
        <ul>
            <li><h1>Montador Electricista - CFP Nº406 - La Matanza</h1> - <h3>(2016)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, dolorem. Impedit voluptates maiores dolorum, labore nam tenetur nesciunt quis optio necessitatibus laudantium doloribus nostrum? Libero asperiores odio tenetur modi doloremque?</p>
        </ul>
    </div>
</div>