<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo N-1</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, dolorem. Impedit voluptates maiores dolorum, labore nam tenetur nesciunt quis optio necessitatibus laudantium doloribus nostrum? Libero asperiores odio tenetur modi doloremque?</p>
        </ul>
        <ul>
            <li><h1>Trabajo N-2</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, dolorem. Impedit voluptates maiores dolorum, labore nam tenetur nesciunt quis optio necessitatibus laudantium doloribus nostrum? Libero asperiores odio tenetur modi doloremque?</p>
        </ul>
        <ul>
            <li><h1>Trabajo N-3</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, dolorem. Impedit voluptates maiores dolorum, labore nam tenetur nesciunt quis optio necessitatibus laudantium doloribus nostrum? Libero asperiores odio tenetur modi doloremque?</p>
        </ul>
    </div>
</div>